
body{
    background-color:white;
}
.header{
    padding: 10px;
    text-align: center;
    background: white;
    color: white;
    font-size: 30px;
}

.logoutbutton{
    background-color:white;
    text-align:right;
}

.logoutbutton:hover {
    background: #9b9b9b;
    background: var(--button-hover);
  }
  
  input[type='submit']:hover {
    background: #9b9b9b;
    background: var(--button-hover);
  }
  
  input[type='reset']:hover {
    background: #9b9b9b;
    background: var(--button-hover);
  }
  
h1 {
    font-size: 100px;
}

h2 {
    font-size: 50px;
    color: navy;
    margin-left: 20px;
}

h3 {
    font-size: 25px;
}

p {
    font-size: 20px;
    margin: 0 0 1.15em;
}


body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  line-height: 1.4;
  max-width: 800px;
  margin: 20px auto;
  padding: 0 10px;
  word-wrap: break-word;
  color: #363636;
  color: var(--text-main);
  background: #fff;
  background: var(--background-body);
  text-rendering: optimizeLegibility;
}

pre {
  font_size: 40px;
  margin: 0 0 1.15em;
}

