<!DOCTYPE html>
<html>
    <head>
        <title>All Stories</title>
    </head>

    <body align = "center">

        <div class = "header" align = "right">
            <div class = "logoutbutton">
                <form action="{{ url_for('logout')}}">
                    <input type="submit", name = "logout", value = "Log Out">
                </form>
                <form action="{{ url_for('index')}}">
                    <input type="submit", name = "logout", value = "Home">
                </form>
            </div>
        </div>

        {% block content %}

            <h1>All Stories</h1>

            <p>Start a new story <a href="{{ url_for('newStory') }}">here</a>.</p>
            <p>Or search for a story.</p>
            <form action = "/search" method="post"> <!-- Get method doesn't seem to wrok -->
                <input type="text" name="query">
                <input type="submit" name="button" value="Search">
            </form>

            <br><br>
            {% for story in all_stories %}

                <a href="{{ url_for('showStory', id=story.id) }}">{{ story.title }} by {{ story.authors.username }}</a><br>
                Summary: {{story.summary}}<br><br>

            {%  endfor %}

        {% endblock content %}


    </body>

</html>