
body{
    background-color:#1abc9c
}
.header{
    padding: 60px;
    text-align: right;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 28px;
    color: navy;
    margin-left: 20px;
}

h3 {
    font-size: 20px;
}

p {
    margin: 0 0 1.15em;
}
