<!DOCTYPE html>

<html>

    <head>
        <title> Homepage </title>
    </head>

    <body>

        <div align="right">
            <form action="{{ url_for('logout')}}">
                <input type="submit", name = "logout", value = "Log Out">
            </form>
            <form action="{{ url_for('index')}}">
                <input type="submit", name = "logout", value = "Home">
            </form>
        </div>

        <h2 align = "center"> Create a New Story </h2>

        <!-- PLANS FOR FUTURE ME
                ADD TAGGING SYSTEM -->
        <div align = "center"> <!-- ADD A BORDER WITH CSS -->
            <form action="/stories/new" method="post">
                <label for="title">Title:</label>
                <input id="title" name="title" type="text" minlength="3" maxlength="50"><br><br>
    
                <label for="summary">Summary:</label><br>
                <textarea id="summary" name="summary" minlength="3" maxlength="150" rows="3" cols="100"></textarea><br><br>

                <label for="content">Write your story here:</label><br>
                <textarea id="content" name="content" minlength="10" maxlength="2500" rows="10" cols="100"></textarea><br><br>
    
                <input type="submit" value="Post Story">
    
            </form>
        </div>
    </body>
</html>