<!DOCTYPE html>

<html>

    <head>
        <title>Registration</title>
    </head>

    <body>
        <h1> Want to be a girlboss?</h1> </h1>
        <h3> Register now to become the latest gaslighting gatekeeping slayer!</h3>
        <form action="/register" method = "POST">
            <p>Username:</p>
            <input type="text" name="username">
            <p>Password:</p>
            <input type="text" name="password">
            <p></p>
            <input type="submit" name="sub1">
        <p> {{result}}</p>
        </form>
    </body>
</html>