<!DOCTYPE html>

<html>

    <head>
        {% set title = to_render.title %}
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>

    {% block content %}

    <div class = "header">
        <div class = "logoutbutton">
            <form action="{{ url_for('logout')}}">
                <input type="submit", name = "logout", value = "Log Out">
            </form>
            <form action="{{ url_for('index')}}">
                <input type="submit", name = "logout", value = "Home">
            </form>
        </div>
    </div>

        <h1>{{ to_render.title }} by {{ to_render.authors.username }}</h1>


        <p> Summary: {{to_render.summary}} </p>

        {% if not edited %}

            {{ to_render.get_updates()[-1].content }}<br><br>

            <form action="/stories/{{ to_render.id }}" method="post">
                Add to the story:<br>
                <textarea id="addition" name="addition" minlength="10" maxlength="2500" rows="10" cols="100"></textarea><br><br>

                <input type="submit" value="Add to Story">
            </form>

        {% else %}

            {%  for update in to_render.get_updates() %}

                <p> {{ update.content }} </p>

            {% endfor %}

        {% endif %}

    {% endblock content %}
</html>
